$text-color: darkblue;

h1{
    padding: 20px;
}

img{
    padding: 20px;
}

p{
    font-size: 20px;
    color: $text-color;
    text-align: center;
}

div{
    font-size: 18px;
    color: $text-color;
    padding: 20px;
}

h1{
    text-align: center;
    color:$text-color;
}

div{
    p{
        color: $text-color;
        font-size: 25px;
        
    }
}

nav{
    text-align: center;
}

a:link{
    color:$text-color;
}

a:visited{
    color:$text-color;
}

.resize{
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.border{
    border: solid;
}


